/* Global Styles */

html {
  font-family: "Open Sans Condensed";
  font-size: 12px;
}

body {
  width:90%;
  margin: 0 auto;
}

header {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #A26B3D;
}

/* Header */

#div_header {
  display: flex;
}

#title {
  font-size: 6rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 40px;
  margin-left: 20px;
  font-size:2.5rem;
  font-weight: bold;
  color:#A26B3D;
}

/* Image */

#img-div {
  text-align: right;
  float:left;
  margin-right: 3%;
  margin-bottom: 20px;
}

#image {
  max-width: 100%;
}

#img-caption {
  font-size: 1.3rem;
  margin-top: 5px;
  font-style: italic;
}

/* Main Content */

.box_header{
  margin-bottom: 1%;
  font-size: 2rem;
  font-weight: bold;
  color:#A26B3D;
}

blockquote {
  font-size: 2rem;
}

cite {
  margin-left: 15px;
  font-style: italic;
  font-size: 1.5rem;
  color:#A26B3D;
}

.quotes {
  width:100%;
  border-left: 1px solid #A26B3D;
  padding-left: 1%;
  clear:both;
}

.content_quotes {
  margin-top: 30px;
}

.content_quotes::before{
  content:"\201c";
}

.content_quotes::after{
  content:"\201d";
}

.content_quotes::before, .content_quotes::after{
  font-size: 40px;
  font-family: georgia;
  color:#A26B3D;
}

#tribute-info {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight:lighter;
  margin-bottom: 10px;
}

/* Footer */

footer {
  clear:both;
  margin-top: 50px;
  font-size: 2.5rem;
}
