/* Global Styles */

html {
  font-family: "Open Sans Condensed";
  font-size: 12px;
}

body {
  width:90%;
  margin: 0 auto;
}

/* Header */

#div_header {
  display: flex;
}

#title {
  font-size: 6rem;
}

.subtitle {
  margin-top: 40px;
  margin-left: 20px;
  font-size:2.5rem;
  color:#A26B3D;
}

/* Image */

#img-div {
  text-align: center;
  float:left;
  margin-right: 3%;
}

#image {
  max-width: 100%;
}

/* Main Content */

.box_header{
  margin-bottom: 1%;
  font-size: 2rem;
  font-weight: bold;
  color:#A26B3D;
}

.quotes {
  width:100%;
  margin-left: 3%;
  border-left: 1px solid #A26B3D;
  padding-left: 1%;
  clear:both;
}

.content_quotes::before{
  content:"\201c";
  font-size: 30px;
  font-family: georgia;
  color:#A26B3D;
}

.content_quotes::after{
  content:"\202c";
  font-size: 30px;
  font-family: georgia;
}

#tribute-info {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight:lighter;
}

/* Footer */

footer {
  clear:both;
  margin-top: 50px;
  font-size: 2.5rem;
}
